
version: '3'
services:
  ueproductsrv:
    build:
      context: .
    volumes:
      - .:/src
    ports:
      - '4030:4030'
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
    
