version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker:17.12.0-ce-git
    environment:
      - VER: "0.1"
      - NAME: "ueproductsrv"
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              py-pip=9.0.1-r1
              pip install \
              docker-compose==1.12.0 \
      # Free replacement for building with docker_layer_caching: true
      # See: https://circleci.com/blog/how-to-build-a-docker-image-on-circleci-2-0/
      # - restore_cache:
      #     keys:
      #       - v1-{{ .Branch }}
      #     paths:
      #       - /caches/app.tar
      # - run:
      #     name: Load Docker image layer cache
      #     command: |
      #       set +o pipefail
      #       docker load -i /caches/app.tar | true
      - run:
          name: Build application Docker image
          command: |
            docker build -t ue/${NAME}:${VER}.${CIRCLE_BUILD_NUM} .
            # docker build --cache-from=app -t ue/${NAME}:${VER}.${CIRCLE_BUILD_NUM} .
      # - run:
      #     name: Save Docker image layer cache
      #     command: |
      #       mkdir -p /caches
      #       docker save -o /caches/app.tar app
      # - save_cache:
      #     key: v1-{{ .Branch }}-{{ epoch }}
      #     paths:
      #       - /caches/app.tar
# test:
#   post:
#     - docker run -d -p 3000:3000 -e "SECRET_KEY_BASE=abcd1234" us.gcr.io/${PROJECT_NAME}/hello:$CIRCLE_SHA1; sleep 10
#     - curl --retry 10 --retry-delay 5 -v http://localhost:3000
      #Tests
      - run:
          name: Run tests
          command: |
            docker-compose -f ./docker-compose.yml up -d; sleep 10
            curl -- retry 10 --retry-delay 5 -v http://localhost:4030/api
     # Login to GCE and push image
      # - deploy:
      #     name: Push application Docker image
      #     command: |
      #       docker login -u $DOCKER_USER -p $DOCKER_PASS
      #       docker push ue/app:${VER}.${CIRCLE_BUILD_NUM}
